{{!-- <ul id="products">
  {{#each products}}
    <li>{{this}}</li>
  {{/each}}
</ul> --}}
<h1>Cart: {{cartFetched._id}}</h1>

<ul id="productsInCart">
  {{#each cartFetched.items}}
    <li>
      <h2>{{this.item.title}}</h2>
      <strong>ID: {{this.item._id}}</strong>
      <p>Descripci贸n: {{this.item.description}}</p>
      <p>Precio: {{this.item.price}}</p>
      <img src="{{this.item.thumbnail}}" alt="{{this.item.title}}">
      <p>C贸digo: {{this.item.code}}</p>
      <p>Stock: {{this.item.stock}}</p>
      <strong>Quantity: {{this.units}}</strong>
    </li>
  {{/each}}
</ul>

{{!-- 
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.on('update products', (products) => {
    const productsList = document.getElementById('products');
    productsList.innerHTML = '';
    products.forEach((product) => {
      const li = document.createElement('li');
      li.innerHTML = `
        <h2>${product.title}</h2>
        <p>ID: ${product._id}</p>
        <p>Descripci贸n: ${product.description}</p>
        <p>Precio: ${product.price}</p>
        <img src="${product.thumbnail}" alt="${product.title}">
        <p>C贸digo: ${product.code}</p>
        <p>Stock: ${product.stock}</p>
      `;
      productsList.appendChild(li);
    });
  });
</script>
 --}}